@font-face {
    font-family: "paper";
    src: url(../Font/Paper\ Banner-Regular.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../Font/Lato-Light.ttf);
}

@font-face {
    font-family: "Darling";
    src: url(../Font/Darling.ttf);
}

@font-face {
    font-family: "Cool";
    src: url(../Font/DK\ Douceur.otf);
}

@font-face {
    font-family: "Caviar";
    src: url(../Font/CaviarDreams.ttf);
}


/* -----------------COLORES---------------------- */
:root{
    --color1: #E3BAB3;
    --color2: #613a43;
    --color3: #849974;
    --color4: #36384c;
    --color5: #E9DCCD;
}

/* -----------------NAVBAR---------------------- */
.contenedor-nav{
    width: 100%;
    height: auto;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color2);
}

.contenedor-nav .nav-bar{
    width: 100%;
    height: 60px;
    background-color: var(--color2) ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box-logo .logo{
    color: var(--color5);
    font-size: 30px;
    font-family: 'Darling';
    font-weight: 300;
    text-decoration: none;
}
.nav .navb-link{
    color: var(--color5);
    text-decoration: none;
    padding: 15px;
    font-family: 'Lato-Light';
    font-size: 14px;
}
.nav .navb-link:hover{
    color: var(--color4);
}



    
    
    
    
    body{
    height: 100%;
    font-family: 'Reem Kufi Ink', sans-serif;
    background-color: white;
    
     }
    
     .contact_form{
        width: 460px;
        height: auto;
        margin:  80px  auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
     }
    
     input{
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        border-color: #ab4493;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    
     }
    
    textarea{
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        border-color: #ab4493;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px;
    }
    
    label{
        display: block;
        float: center;
    }
    
    button{
        height: 45px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: #ab4493;
        border-color: #ab4493;
        border-style: solid;
        border-radius: 10px;
    
    }
    
    button p {
        color: #fff;
    
    }
    
    span{
        color: #ab4493;
    }
    
    .aviso{
        font-size: 13px;
        color: #0e0e0e;;
    }
    h1{
        font-size: 39px;
        text-align: justify;
        padding-bottom: 20px;
        color: #ab4493;
        
     
    }
    h3{
        font-size: 16px;
        padding-bottom: 30px;
        color: #0e0e0e;
        }
    p{
        font-size: 14px;
        color : #0e0e0e;
    
    
    }
    
    
    ::-webkit-input-placeholder{
        color:#2c2b2b;
    }
    
    ::-webkit-textarea-placeholder{
        color: #2c2b2b;
    }
    
    .formulario input focus {
        outline: 0;
        border: 1px solid #97d848;
    }
    
    .formulario  textarea :focus{
        outline: 0;
        border: 1px solid #97d848;
     
    
    }


    .footer{
        background-color: var(--color4);
        width: 100%;
        padding: 40px;
        
    }
     
    .contenedor-footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 60px;
    }
    .contenedor-footer .contenedor1{
        display: flex;
        flex-direction: column;
    }
    .contenedor1 h4{
        font-family: "Cool";
        font-weight: 600;
        font-size: 24px;
        color: var(--color1);
    }
    .contenedor1 a{
        text-decoration: none;
        color: var(--color5);
        font-family: 'Lato-Light';
        font-size: 14px;
        padding: 5px;
    }
    .contenedor1 a:hover{
        text-decoration: none;
        color: var(--color3);
        font-family: 'Lato-Light';
        font-size: 14px;
    }
    .contenedor-footer h4{
        font-family: 'Cool';
        font-weight: 600;
        font-size: 24px;
    }
    .contenedor-footer .contenedor2{
        color: var(--color5);
        font-family: 'Lato-Light';
        font-size: 14px;
        
    }
    .contenedor2 h4{
        font-family: "Cool";
        font-weight: 600;
        font-size: 24px;
        color: var(--color1);
    }
    .contenedor2 a{
        text-decoration: none;
        color: var(--color5);
        font-family: 'Lato-Light';
        font-size: 14px;
        padding: 5px;
    }
    .contenedor2 a:hover{
        text-decoration: none;
        color: var(--color3);
        font-family: 'Lato-Light';
        font-size: 14px;
    }
    