@font-face {
    font-family: "paper";
    src: url(../Font/Paper\ Banner-Regular.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../Font/Lato-Light.ttf);
}

@font-face {
    font-family: "Darling";
    src: url(../Font/Darling.ttf);
}

@font-face {
    font-family: "Cool";
    src: url(../Font/DK\ Douceur.otf);
}

@font-face {
    font-family: "Caviar";
    src: url(../Font/CaviarDreams.ttf);
}


/* -----------------COLORES---------------------- */
:root{
    --color1: #E3BAB3;
    --color2: #613a43;
    --color3: #849974;
    --color4: #36384c;
    --color5: #E9DCCD;
}

/* -----------------NAVBAR---------------------- */
.contenedor-nav{
    width: 100%;
    height: auto;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color2);
    z-index: 10;
}

.contenedor-nav .nav-bar{
    width: 100%;
    height: 60px;
    background-color: var(--color2) ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box-logo .logo{
    color: var(--color5);
    font-size: 30px;
    font-family: 'Darling';
    font-weight: 300;
    text-decoration: none;
}
.nav .navb-link{
    color: var(--color5);
    text-decoration: none;
padding: 15px;
    font-family: 'Lato-Light';
    font-size: 15px;
}
.nav .navb-link:hover{
    color: var(--color4);
}


/* -----------------TITULO---------------------- */


.tituloprin {
    font-family: "paper";
    font-size: 75px;
    text-align: center;
    background-color: #E3BAB3;
}

.subtitulito{
    font-family: "Lato Light";
    margin-left: 10px;
}
 
/* -----------------CUERPO---------------------- */



.mapa iframe{
    position: relative;
    height: 500px;
    width: 600px;
    margin-left: 150px;      
   
 }  

.form{
    text-align: left;
    color: #613a43;
    width: 400px;
    padding: 30px;
    background:#36384c;
    margin-right: 50px;
    border-radius: 100px;
    font-family: "Lato Light";
    color: white;
    box-shadow: 7px 13px 37px #613a43;
    float: right;
    
    
    
}


    

.form h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Caviar" ;
    float: left;
    color: var(--color5);
    
}
.inputs{
   
    width: 100%;
    background: var(--color5) ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #613a43;
    font-size: 18px;
    color:black;
    font-family: "Lato Light";

   
}
.boton{
    width: 40%;
    background: #613a43;
    border:none;
    padding: 12px;
    color: var(--color1);
    margin: 10px;
    font-size: 15px;
    font-family: "Lato Light";
    border-radius: 8px;
    border: 2px solid #E3BAB3;
}
.boton:hover{
    background: var(--color3);
    color: #36384c;
}

#truco{opacity: 0;

}

/* -----------------FOOTER---------------------- */

.footer{
    background-color: var(--color4);
    width: 100%;
    padding: 40px;
    
}
 
.contenedor-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.contenedor-footer .contenedor1{
    display: flex;
    flex-direction: column;
}
.contenedor1 h4{
    font-family: "Cool";
    font-weight: 600;
    font-size: 24px;
    color: var(--color1);
}
.contenedor1 a{
    text-decoration: none;
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    padding: 5px;
}
.contenedor1 a:hover{
    text-decoration: none;
    color: var(--color3);
    font-family: 'Lato-Light';
    font-size: 14px;
}
.contenedor-footer h4{
    font-family: 'Cool';
    font-weight: 600;
    font-size: 24px;
}
.contenedor-footer .contenedor2{
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    
}
.contenedor2 h4{
    font-family: "Cool";
    font-weight: 600;
    font-size: 24px;
    color: var(--color1);
}
.contenedor2 a{
    text-decoration: none;
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    padding: 5px;
}
.contenedor2 a:hover{
    text-decoration: none;
    color: var(--color3);
    font-family: 'Lato-Light';
    font-size: 14px;
}
    