/* -----------------FUENTES---------------------- */
@font-face {
    font-family: "paper";
    src: url(../Font/Paper\ Banner-Regular.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../Font/Lato-Light.ttf);
}

@font-face {
    font-family: "Darling";
    src: url(../Font/Darling.ttf);
}
@font-face {
    font-family: "Cool";
    src: url(../Font/DK\ Douceur.otf);
}

@font-face {
    font-family: "Chicken";
    src: url(../Font/CHICKEN\ Pie.ttf);
}

/* -----------------COLORES---------------------- */
:root{
    --color1: #E3BAB3;
    --color2: #613a43;
    --color3: #849974;
    --color4: #36384c;
    --color5: #E9DCCD;
}

/* -----------------NAVBAR---------------------- */
.contenedor-nav{
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color2);
}

.contenedor-nav .nav-bar{
    width: 100%;
    height: 60px;
    background-color: var(--color2) ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box-logo .logo{
    color: var(--color5);
    font-size: 30px;
    font-family: 'Darling';
    font-weight: 300;
    text-decoration: none;
}
.nav .navb-link{
    color: var(--color5);
    text-decoration: none;
    padding: 15px;
    font-family: 'Lato-Light';
    font-size: 14px;
}
.nav .navb-link:hover{
    color: var(--color4);
}


/* -----------------BODY---------------------- */

.tituloprin {
    font-family: "paper";
    font-size: 75px;
    text-align: center;
    color: #36384c;
}
.subtitulo{
    font-family: "Chicken" ;
}

main {
    display: flex;
    width: 90%;
    margin: 50px auto;
}

main nav {
    flex-direction: column;
    min-width: 250px;
    width: 20%;
    padding: 15px;
}

main nav input {
	padding: 0.5rem;
	background: #e2e8f0;
	border-radius: 5px;
	border-color: transparent;
	letter-spacing: 1px;
}

main nav h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.empresa-btn {
	display: block;
	margin: 0.25em 0;
	padding: 0.25rem;
	text-transform: capitalize;
	background: transparent;
	border-color: transparent;
	letter-spacing: var(--letterSpacing);
	color: var(--grey-500);
	cursor: pointer;
	transition: var(--transition);
	font-size: 0.85rem;
}

main section {
    flex-direction: column;
    width: 80%;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    
}

main section article {
    height: 234px;
    width: 250px;
    margin: 5px;
    text-align: center;
    
}

main section article img {
    height: 180px;
    width: 100%;
    
}

main section article a{
    color: #613a43;
    font-family: "Lato Light";
    font-weight: bolder;
}
main section article a:hover{
    color: var(--color5);
}
    

/* -----------------FOOTER---------------------- */

.footer{
    background-color: var(--color4);
    width: 100%;
    padding: 40px;
    
}
 
.contenedor-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.contenedor-footer .contenedor1{
    display: flex;
    flex-direction: column;
}
.contenedor1 h4{
    font-family: "Cool";
    font-weight: 600;
    font-size: 24px;
    color: var(--color1);
}
.contenedor1 a{
    text-decoration: none;
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    padding: 5px;
}
.contenedor1 a:hover{
    text-decoration: none;
    color: var(--color3);
    font-family: 'Lato-Light';
    font-size: 14px;
}
.contenedor-footer h4{
    font-family: 'Cool';
    font-weight: 600;
    font-size: 24px;
}
.contenedor-footer .contenedor2{
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    
}
.contenedor2 h4{
    font-family: "Cool";
    font-weight: 600;
    font-size: 24px;
    color: var(--color1);
}
.contenedor2 a{
    text-decoration: none;
    color: var(--color5);
    font-family: 'Lato-Light';
    font-size: 14px;
    padding: 5px;
}
.contenedor2 a:hover{
    text-decoration: none;
    color: var(--color3);
    font-family: 'Lato-Light';
    font-size: 14px;
}
