* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    width: 90%;
    margin: 50px auto;
}

main nav {
    flex-direction: column;
    min-width: 250px;
    width: 20%;
    padding: 15px;
}

main nav input {
	padding: 0.5rem;
	background: #e2e8f0;
	border-radius: 5px;
	border-color: transparent;
	letter-spacing: 1px;
}

main nav h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.empresa-btn {
	display: block;
	margin: 0.25em 0;
	padding: 0.25rem;
	text-transform: capitalize;
	background: transparent;
	border-color: transparent;
	letter-spacing: var(--letterSpacing);
	color: var(--grey-500);
	cursor: pointer;
	transition: var(--transition);
	font-size: 0.85rem;
}

main section {
    flex-direction: column;
    width: 80%;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

main section article {
    height: 234px;
    width: 290px;
    margin: 5px;
    text-align: center;
}

main section article img {
    height: 180px;
    width: 100%
}